{
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "bracketSpacing": true,
    "printWidth": 150,
    "singleAttributePerLine": true,
    "endOfLine": "crlf"
  }
  